/*
Theme Name:     brixtonenergy
Theme URI:      https://github.com/jasonneylon/brixton-energy-wordpress-theme/
Description:    Brixton Energy theme built on twenty thirteen.
Author:         Jason Neylon
Author URI:     http://jasonneylon.wordpress.com
Template:       twentythirteen
Version:        1.0.1
*/

h1.site-title {
	background: url(images/brixtonenergylogo.png) no-repeat scroll 0 0 transparent;
	color: transparent;
	height: 160px;
	width: 347px;
}

h2.site-description {
	color: white;
	margin-top: 10px;
}	

@media all and (max-width: 580px) {
	h1.site-title {
		background: url(https://brixtonenergy.co.uk/wp-content/uploads/2013/12/brixtonenergylogo-small.png) no-repeat scroll 0 0 transparent;
		height: 115px;
		width: 250px;
	}

	h2.site-description {
		margin-top: 0px;
	}	

}


.navbar {
	background-color: deepskyblue;
}

.site-footer .sidebar-container {
	background-color: paleturquoise;
}

.site-footer .widget li, .site-footer .widget li a, .site-footer .sidebar-container h3  {
	color: black;
}

.site-footer {
	background-color: deepskyblue;
}
.widget {
	background-color: rgba(244,236,104, 0.7);
}

.navbar li a {
			color: white !important;
}

.entry-content td img {
    max-width: none; 
}
